* {
    padding: 0;
    margin: 0;
}

body {
    background-color:#EDF7F6;
}

nav {
    background-color: #FFA8B6;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 0 24px;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
}

ul {
    display: flex;
    margin: 0 24px;
    align-items: center;
}

ul > li {
    list-style: None;
    margin:0 13px
}
ul > li:hover {
    color: white;
}

table , tr,td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 4px 24px;
}

.container {
    max-width: 80vw;
    margin: 23px auto;
    display: flex;
    justify-content: space-around;
}

h1,h2 {
    margin: 23px 0;
}

.btn {
    margin: 31px 0;
    border: gray;
    font-weight: 100;
    background-color: black;
    color: white;
    padding: 8px 17px;
    border-radius: 8px;
    cursor: pointer;
}

.btnsm {
    border: gray;
    font-weight: 100;
    background-color: black;
    color: white;
    padding: 8px 17px;
    border-radius: 8px;
    cursor: pointer;
}

.leftb {
    margin-left: -84px;
    font-size: 18px;
}

.rightb {
    margin-left: 182px;
}

img {
    cursor: pointer;
}

